{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container my-10">
    <div class="row ">
      
        <!-- Log-in form -->
        <div class="col-md-12 text-center login">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome back to Gunner Do. To get started please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}" aria-label="Sign up for a new account">sign up</a>
                first.{% endblocktrans %}</p>
            <form  method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit" aria-label="{% trans 'Sign In' %}">{% trans "Sign In" %}</button>
            </form>
        </div>
       
    </div>
</div>
<br>
{% endblock %}