

/* home page */
.carousel-inner .carousel-item img {
    width: 100%;             /* Stretch the image to fill the container's width */
    height: 400px;           /* Set a fixed height (adjust as needed) */
    object-fit: cover;       /* Ensure images cover the space without stretching */
    display: block;          /* Remove any unwanted space below the image */
}

.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 400px;  /* Ensure the carousel inner container has a fixed height */
}

#carouselExampleCaptions {
    height: 400px;
  }

  p {
    border: 3px dashed #3498db; /* Blue dashed border */
    padding: 15px;              /* Add padding inside the border */
    border-radius: 10px;        /* Rounded corners */
  }