@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* general styling */

body{
  background: url(/static/images/taylor-wright-OpsIFjzqDXE-unsplash.jpg) repeat center center/cover;
  position: relative;
  font-family: 'Arsenal', sans-serif;
  
}




/* Navbar */

.navbar{
  color: white;
  font-weight: 600;
  background-color: #ef0001;
  text-shadow: -1px -1px 0 #9b814a, 1px -1px 0 #9b814a, -1px 1px 0 #9b814a, 1px 1px 0 #9b814a;
  letter-spacing: 2px;

}

.nav-item a {
  color: white !important;
}


.navbar-nav {
  margin-left: 10px;
}

.navbar-brand{
  background-image: url(../images/Gunnerdologo.jpg);
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 15px;
  border-radius: 25%;
}

.navbar-toggler {
  margin-right: 20px;
  
}

.navbar-user {
  padding-left: 10px;
  padding-right: 20px;
}



/* Footer */

footer {
  border: none;
  background-color: #ef0001 !important;
  color: #fafae9;
  text-shadow: -1px -1px 0 #9b814a, 1px -1px 0 #9b814a, -1px 1px 0 #9b814a, 1px 1px 0 #9b814a;
}


.footer-links {
  list-style-type: none;
  display: flex;
  margin-bottom: 0 !important;
}

.footer-links > li {
  font-size: 1.2rem;
  margin: 0 10px;
}

.social-link {

  text-decoration: none;
  color: #fafae9;
  text-shadow: -1px -1px 0 #9b814a, 1px -1px 0 #9b814a, -1px 1px 0 #9b814a, 1px 1px 0 #9b814a;
}



/* Alerts */



.alert {
  border: none;
  text-align: center;
  color: #fafae9;
  text-shadow: -1px -1px 0 #9b814a, 1px -1px 0 #9b814a, -1px 1px 0 #9b814a, 1px 1px 0 #9b814a;
  letter-spacing: 2px;
}

.alert-success {
  background-color: #ef0001 ;

}



/* home page */
.carousel-inner .carousel-item img {
    width: 100%;             /* Stretch the image to fill the container's width */
    height: 400px;           /* Set a fixed height (adjust as needed) */
    object-fit: cover;       /* Ensure images cover the space without stretching */
    display: block;          /* Remove any unwanted space below the image */
    border-radius: 10px;
}

.carousel-caption{
  background-color: rgba(220, 8, 15, 0.5);
  border-radius: 10px;
  padding: 5px;
}


  .home-header, .login, .logout, .signup, .new-task, .task-list{
    border: 1px ; 
    padding: 15px;              /* Add padding inside the border */
    border-radius: 10px;        /* Rounded corners */
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Dark Shadow Inside */
  }

  .home-box {
    flex-grow: 1; /* Make the carousel fill the full height of its column */
  }
  
  .home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .home-row{
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable Flexbox */
    align-items: stretch; /* Ensure columns stretch to fill the height */
  }
 /* task-page */

 .blue-heading, .logout-heading, .signup-heading, .login-heading, .homepage-heading{
  color: white;
  font-weight: 600;
  text-shadow: -1px -1px 0 #9b814a, 1px -1px 0 #9b814a, -1px 1px 0 #9b814a, 1px 1px 0 #9b814a;
  letter-spacing: 2px;
  padding: 5px;
 }
.update-item a{
text-decoration: none;
color: #9b814a;
}
.delete-item a{
  text-decoration: none;
  color: #ef0001;
}

.homepage-heading{
  font-size: 6rem;
}
.home-header{
  height: 100%;
}
  /* media queries */

  /* Media query for smaller screens (Mobile devices) */
@media (max-width: 767px) {
    .carousel-inner {
        height: 300px; /* Adjust the height for mobile */
    }
    .carousel-caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      color: white;
      text-align: center;
      font-size: 1.2em;
      
  }
  .carousel-inner .carousel-item img{
    height:300px;
  }
  table {width:80%;}
  th {display: none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background:#9b814a; font-weight:bold;font-size:1.3em; text-align: center; padding: 10px 5px !important; }
  tbody td {display: block;  text-align:center; padding: 10px 5px !important}
  tbody td:before { 
      content: attr(data-th); 
      display: block;
      text-align:center;  
      padding: 10px 5px !important;
  }

  footer{
    position: relative !important;
  }
}

