@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* general styling */

body{
  /* background-image:url(https://thumbs.dreamstime.com/b/abstract-red-white-gold-fluid-art-painting-luxury-background-texture-324953411.jpg); */
  background-image: url(/static/images/taylor-wright-OpsIFjzqDXE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arsenal', sans-serif;
  
}
/* home page */
.carousel-inner .carousel-item img {
    width: 100%;             /* Stretch the image to fill the container's width */
    height: 400px;           /* Set a fixed height (adjust as needed) */
    object-fit: cover;       /* Ensure images cover the space without stretching */
    display: block;          /* Remove any unwanted space below the image */
}



  .slogan, .login, .logout, .signup, .new-task, .task-list{
    border: 1px ; 
    padding: 15px;              /* Add padding inside the border */
    border-radius: 10px;        /* Rounded corners */
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Dark Shadow Inside */
  }

 /* task-page */



  /* media queries */

  /* Media query for smaller screens (Mobile devices) */
@media (max-width: 767px) {
    .carousel-inner {
        height: 300px; /* Adjust the height for mobile */
    }
    .carousel-caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      color: white;
      text-align: center;
      font-size: 1.2em;
  }
  .carousel-inner .carousel-item img{
    height:300px;
  }
}