/* general styling */

/* home page */
.carousel-inner .carousel-item img {
    width: 100%;             /* Stretch the image to fill the container's width */
    height: 400px;           /* Set a fixed height (adjust as needed) */
    object-fit: cover;       /* Ensure images cover the space without stretching */
    display: block;          /* Remove any unwanted space below the image */
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;

}

  .slogan {
    border: 1px solid red; 
    padding: 15px;              /* Add padding inside the border */
    border-radius: 10px;        /* Rounded corners */
  }


  /* media queries */

  /* Media query for smaller screens (Mobile devices) */
@media (max-width: 767px) {
    .carousel-inner {
        height: 200px; /* Adjust the height for mobile */
    }
}