{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Search Bar-->

<!-- Header -->
<div class="header-bar">
    <h2 class="blue-heading">Hello {{request.user}}</h2>
</div>
<!-- New task form -->
<div class="container">
    <div class="row">
        <div class="col-12 p-0 new-task mx-auto text-center">
            <div class="wrapper">
                {% if user.is_authenticated %}
                <form method="POST" class="mx-auto pt-4 pb-4">
                    {% csrf_token %}
                    {{task_form}}
                    <button type="submit" class="btn btn-danger" aria-label="Submit New Task">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- To-Do task list -->
    <h1 class="text-center white-heading"></h1>
    <div class="row">
        <div class="col-12 p-0 mx-auto task-list ">
            <div class="wrapper table-responsive">
                <table class="table">
                    <tr>
                        <th>Tasks</th>
                        <th>Notes</th>
                        <th>Importance</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                    
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td id="task-name">{{task}} </td>
                            <td id="task-notes">{{task.notes}}</td>
                            <td id="task-importance">{{task.get_importance_display}}</td>
                            <td id="task-progress" data-progress-id="{{ task.id }}">{{task.get_progress_display}}</td>
                            <td class="update-item">
                                <a href="{% url 'update_task' task.id %}">
                                    <span class="link-text">Update</span>
                                    <i class="d-none d-md-inline-block fas fa-edit update-icon"></i>
                                </a>
                            </td>
                            <td class="delete-item">
                                <a href="{% url 'delete_task' task.id %}">
                                    <span class="link-text">Delete</span>
                                    <i class="d-none d-md-inline-block fas fa-trash-alt icon"></i>
                                </a>
                            </td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<p> Login or register to begin</p>
{% endif %}

{% endblock %}