{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="header-bar">
    <h2 class="update-heading text-center">Update your task:</h2>
</div>
<!-- Update task form -->
<div class="container">
    <div class="row new-task mx-auto text-center">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                {{task_form}}
            <button type="submit" class="btn btn-danger" aria-label="Submit Updated Task">Update</button>
            <a class="btn btn-light" href="{% url 'tasks' %}">Cancel</a>
            </form>
            <p>{{task.created_on}}</p>
        </div>
    </div>
</div>
{% endblock %}